.pagination {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    margin-top: 1rem;
    padding: 1rem;
}

.pagination button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background: #e23744;
    color: white;
    cursor: pointer;
}

.pagination button:disabled {
    background: #ccc;
    cursor: not-allowed;
}